@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
import { library } from '@fortawesome/fontawesome-svg-core'
import { fas } from '@fortawesome/free-solid-svg-icons'
import { far } from '@fortawesome/free-regular-svg-icons'
import { fab } from '@fortawesome/free-brands-svg-icons'

// Add all icons to the library so you can use it in your page
library.add(fas, far, fab)


.selected {
  border-style: dashed;
}

div {
  cursor: move;
}

divWhite {
  text-align: center;
  border: 1px solid #d3d3d3;
  width: 100px;
  padding: 10px;
  cursor: move;
  z-index: 10;
  background-color: white;
  color: #fff;
}




.div {
  text-align: center;
  padding: 10px;
  cursor: move;
  background-color: white;
}

.divRed {
  text-align: center;
  padding: 10px;
  cursor: move;
  background-color: red;
  color: #fff;
}

td{
  border: 1px solid #d3d3d3;
  border-color: grey;
  padding: 10px;
  width: 150px;
  height: 30px;
  text-align: center;
}

.delTr{
  border: 0px;
  
  text-align: center;
}


.blue {
  text-align: center;
  padding: 10px;
  cursor: move;
  z-index: 10;
}


.blueBg {
  background: linear-gradient(87deg, #5e72e4 0, #825ee4 100%);
  color: white;
  text-align: center;
}

.red {
  background: linear-gradient(87deg, #f5365c 0, #f56036 100%);
  color: white;
  text-align: center;
  border: 1px solid #d3d3d3;
  width: 150px;
  height: 30px;
  background-color: rgb(255,0,0);
  padding: 10px;
  cursor: move;
  z-index: 10;
}

.redBg {
  background: linear-gradient(87deg, #f5365c 0, #f56036 100%);
  color: white;
  text-align: center;
}

.green {
  background: linear-gradient(87deg, #2dce89 0, #2dcecc 100%);
  color: white;
  text-align: center;
  border: 1px solid #d3d3d3;
  width: 150px;
  height: 30px;
  background-color: rgb(0,128,0);
  padding: 10px;
  cursor: move;
  z-index: 10;
}

.greenBg {
   background: linear-gradient(87deg, #2dce89 0, #2dcecc 100%);
  color: white;
  text-align: center;
}


.blue2 {
  background: linear-gradient(87deg, #11cdef 0, #1171ef 100%);
  color: white;
  text-align: center;
  border: 1px solid #d3d3d3;
  width: 150px;
  height: 30px;
  background-color: rgb(0,255,255);
  padding: 10px;
  cursor: move;
  z-index: 10;
}

.blue2Bg {
   background: linear-gradient(87deg, #11cdef 0, #1171ef 100%);
  color: white;
  text-align: center;
}

.white {
  background: white;
  color: white;
  text-align: center;
  border: 1px solid #d3d3d3;
  width: 150px;
  height: 30px;

  padding: 10px;
  cursor: move;
  z-index: 10;
}

.button{
    font-size: .875rem; 
    border: none;
    border-radius: 3px;
    height: 40px;
    width: 90px;
      background-color: red;
    text-align: center;

    position: relative;

    transition: all .15s ease;
    letter-spacing: .025em;
    text-transform: uppercase;

    will-change: transform;
}


.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

.hideDelBtns{
  display:none;
}


